/* src/components/Certificate.css */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pinyon+Script|Rochester');

.certificate-container {
  max-width: 800px;
  margin: auto;
}

.outer-border {
  border: 2px solid #fff;
  padding: 15px;
  background-color: #618597;
}

.inner-border {
  border: 2px solid #fff;
  padding: 15px;
  background-color: #fff;
}

.certificate-border {
  border: 1px solid #E1E5F0;
  background-color: rgba(255, 255, 255, 1);
}

.certificate-title {
  font-family: 'Pinyon Script', cursive;
  font-size: 1.5rem;
}

.certificate-name,
.certificate-earned,
.certificate-credits,
.certificate-course-title,
.certificate-course-name {
  font-family: 'Open Sans', sans-serif;
}

.certificate-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.certificate-earned,
.certificate-course-title {
  font-size: 1rem;
  font-style: italic;
}

.certificate-credits,
.certificate-course-name {
  font-size: 1rem;
  font-weight: bold;
}

.certificate-footer-text {
  font-size: 0.8rem;
}

.certificate-signature,
.certificate-dob,
.certificate-ssn {
  font-size: 0.8rem;
  font-weight: bold;
}

.underline {
  border-bottom: 1px solid #777;
  width: 80%;
  margin: auto;
}
