/* UmpirePage.css */
.umpire-page {
  padding: 4rem 0;
  margin-top: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr; /* Single column by default */
  gap: 20px;
}

@media (min-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr 1fr; /* Two columns on larger screens */
  }
}
/* @media (min-width: 468px) {
  .testimonials-umpire{
    margin-top: 5rem;
  }
} */

.umpire-content {
  grid-column: 1 / 2; /* Span first column */
}

.form-content {
  grid-column: 1 / 2; /* Span second column */
}

.card-umpire {
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.card-title {
  font-family: 'Georgia', serif;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
}

.card-text {
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  color: #666;
  line-height: 1.6;
}
.umpire-page {
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.umpire-content .jumbotron {
  background-color: #f8f9fa;
  padding: 2rem 1rem;
  border-radius: 0.3rem;
}

.card-umpire {
  border: none;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); */
}

.why-umpire, .resources, .faq, .form-content {
  margin-top: 2rem;
}
.testimonials-umpire{
margin-top: 8rem !important;
}

.card-title, .card-text {
  margin-bottom: 1rem;
}

.card-text a {
  color: #007bff;
}

.accordion-button:focus {
  box-shadow: none;
}

.form-content .card {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.jumbotron .btn-primary {
  margin-top: 1rem;
}

.list-styled {
  list-style: none;
  padding-left: 0;
}

.list-styled .list-group-item {
  border: none;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
}

.list-styled .list-group-item:last-child {
  border-bottom: none;

}

.list-styled .list-group-item a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.list-styled .list-group-item a:hover {
  text-decoration: underline;
}
.umpire-list{
  margin: 10px;
}